* {
  box-sizing: border-box;
}

input[type="text"] {
    width: 100px;
    display: block;
    margin: 30px auto;
    border: 5px solid black;
}


body{
  font-family: 'Palatino';
}


#data-output-container{
  height: 300px;
  overflow: scroll;
}

.card{
  min-width: 30%;
  padding: 10px;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 1%;
  margin-right: 1%;
}

.card .pols{
  background: #C8F7C5;
}
